.HeadingAd2{
    margin-left: 15%;
    margin-top: 50px;
}

#imgill2{
    position: absolute;
    top: 70px;
    left: 35%;
    width: 150px;
    height: 150px;
}

#hd22{
    position: absolute;
    left: 70%;
    top: 70px;
}

#hd12{
    position: absolute;
    left: 55%;
    top: 70px;
}



#Ttitle12{
    margin-left: 13%;
    margin-top: 80px;
}

#CampaignTable2{
    margin-left: 15%;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 50px;
}

.DashTable2{
    text-align: left;
}

.DashTable2 td input{
   padding: 5px 15px 5px 15px;
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
}

.DashTable2 td input:hover{
    background-color: black;
    color: white;
}

.categories2{
    margin-left: 15%;
}

.categories2 button{
    margin-left: 30px;
    border: 0;
    background-color: white;
    font-size: medium;
    font-weight: 600;
    color: gray;
}

.categories2 button:hover{
    color: black;
    cursor: pointer;
}