.navbarD nav{
    background-color: black;
    border-radius: 15px;
    height: 85%;
    position: fixed;
    left: 20px;
    top: 30px;
    width: 100px;
}

.navbarD ul{
    list-style: none;
}

.navbarD li{
    margin-bottom: 50px;
}

.navbarD li button{
    background-color: transparent;
    border: 0;
}

.react_icon{
    color: white;
    font-size: 25px;
    margin-left: -480px;
}

.react_icon{
    cursor: pointer;
}

#CFlogo{
    width: 70px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: -15px;
    padding-right: 10px;
}

.confirmation-dialog{
    border: 1px black solid;
    width: 20%;
    background-color: grey;
    position: fixed;
    top: 10px;
    left: 40%;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 20px;
}

.confirmation-dialog button{
    margin-left: 60px;
    background-color: black;
    color: white;
}

.button-container {
    display: flex;
    gap: 80px;
  }
  




