.settingForm{
    margin-left: 35%;
    margin-top: 80px;
}

.settingForm input{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.settingForm input:not(#setSubmit){
    padding-right: 20%;
}

#setSubmit{
    margin-left: 15%;
}