.aboutpicture{
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./../img/about.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }
  .items{
    position: relative;
    top: 30px;

  }
  .items h2 {
    color: white;
    padding-left: 80px;
  }

  .items h6 {
    color: white;
    padding-left: 80px;
  }

  .search-btn {
    border-radius: 20px;
    margin-left: 10px;
}
.works {
    margin-left: 100px;
    padding-top: 30px;
  }
  
  .working {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .working_items {
    padding: 20px;
    text-align: center;
  }
  
  .working_items img {
    max-width: 100%;
    height: auto;
  }
  
  .working_items p {
    margin-top: 20px;
  }
  
  .working_items button {
    background-color: blue;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
  }
  
  .benefit {
    padding-left: 100px;
    padding-right: 40px;
    padding-top: 30px;
    background-color: aliceblue;
  }
  
  .benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .benefits_items {
    padding: 40px;
    text-align: center;
  }
  
  .benefits_items img {
    max-width: 100%;
    height: auto;
  }
  
  .benefits_items p {
    margin-top: 20px;
  }
  
  .completed {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 100px;
  }
  
  .completes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .completes_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .completes_items img {
    max-width: 100%;
    height: auto;
  }
  
  .completes_items p {
    margin-top: 20px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button button {
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    .completed,
    .benefit,
    .works {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .benefits_items,
    .completes_items,
    .working_items {
      padding: 10px;
    }
  }
  