.investpicture {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./../img/invest.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .items {
    position: relative;
    top: 30px;
  }
  
  .items h2 {
    color: white;
    padding-left: 80px;
  }
  
  .items h6 {
    color: white;
    padding-left: 80px;
  }
  
  .invest h5 {
    text-align: center;
    padding-top: 20px;
  }
  
  .invest {
    padding-bottom: 20px;
  }
  
  .invest-items {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 27%;
    margin-right: 27%;
  }
  
  .invest-items img {
    border-radius: 10px;
    width: 500px;
  }
  
  .invest-items button {
    margin-left: 50px;
    background-color: blue;
    color: white;
    border-radius: 5px;
  
  }
  
  /* Media Queries */
  
  @media screen and (max-width: 768px) {
    .investpicture {
        padding: 100px 0;
    }
    
    .items h2,
    .items h6 {
        padding-left: 30px;
    }
    
    .invest-items {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .invest-items img {
        width: 100%;
    }
    
    .invest-items button {
        margin-left: 0;
        margin-top: 10px;
    }
  }
  