.profile_form {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    color: black;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .image input[type='file'] {
    margin-top: 6px;
  }
  
  .update {
    margin-left: 40px;
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .logout {
    margin-left: 500px;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  