.prj-detail {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.prj-details {
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
    width: 500px;
}

.prj-details img {
    width: 500px;
    height: 400px;
}

.progres span {
    color: #0518F8;
    font-size: 0.5rem;
    font-weight: 600;
}

.progres {
    display: flex;
    flex-direction: column;
    margin-block: -5px;
}

.discrp {
    padding-left: 160px;
    padding-right: 160px;
}

.discrp button {
    margin-left: 0px;
    background-color: #0518F8;
    color: white;
    border-radius: 5px;
}

.otherprojects {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    padding-left: 145px;
    padding-right: 500px;
}

.otherproject h4 {
    padding-left: 145px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .prj-details {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .prj-details img {
        width: 100%;
        height: auto;
    }
    
    .discrp {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .otherprojects {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .otherproject h4 {
        padding-left: 0;
    }
}
